@import "../../style/variables.scss";

.Header {
  width: 100%;
  text-align: center;

  .image {
    max-height: 300px;

    @media (min-width: $tabletMinWidth) {
      max-height: 400px;
    }

    @media (min-width: $desktopMinWidth) {
      max-height: 500px;
    }
  }

  h1 {
    font-family: $title-font-family;
    color: $blue;
    line-height: 1.2;
    font-weight: bold;
    font-size: 34px;
    margin: 10px auto;

    @media (min-width: $tabletMinWidth) {
      padding: 20px auto;
      font-size: 46px;
    }

    @media (min-width: $desktopMinWidth) {
      font-size: 54px;
    }
  }

  h2 {
    padding-bottom: 20px;
  }
}
