@import "../../style/variables.scss";

.Header {
  padding-bottom: 50px;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;

  h1 {
    font-family: $title-font-family;
    color: $blue;
    line-height: 1.2;
    font-weight: bold;
    font-size: 30px;
    margin: 10px auto;

    @media (min-width: $tabletMinWidth) {
      margin: 20px auto;
      font-size: 44px;
    }

    @media (min-width: $desktopMinWidth) {
      font-size: 54px;
    }
  }

  h2 {
    margin-bottom: 20px;
  }

  .image {
    max-height: 300px;
  }
}
