@import "./variables.scss";

.smallText {
  color: $text-color-alt;
  font-size: 16px;
  font-family: $body-font-family;
}

.highlightedText {
  color: $text-color-dark;
  font-size: 20px;
  font-weight: bold;
  font-family: $body-font-family;
}

.title {
  font-family: $title-font-family;
  color: $pink;
  line-height: 1.2;
  font-size: 22px;

  @media (min-width: $tabletMinWidth) {
    font-size: 26px;
  }

  @media (min-width: $desktopMinWidth) {
    font-size: 32px;
  }
}

.headline {
  font-family: $title-font-family;
  color: $text-color-alt;
  font-size: 34px;
  line-height: 1.2;
  font-weight: bold;

  @media (min-width: $tabletMinWidth) {
    margin: 42px auto;
    font-size: 44px;
  }

  @media (min-width: $desktopMinWidth) {
    font-size: 48px;
  }

  &.alternative {
    color: $pink;
    font-weight: 400;
  }
}
