$pink: #FF97A6;
$orange: #FF914A;

$bg-color: #FECA50;

$text-color-alt: #646C9B;
$text-color-dark: #000;
$text-color-light: #fff;

$body-font-family: 'Comic Neue', cursive;
$title-font-family: 'Playfair Display', serif;
