$pink: #FF97A6;
$orange: #FF914A;
$blue: #5270FE;
$dark-blue: #23527C;
$yellow: #FACD50;

$bg-color: #FACD50;
$bg-color-alt: #FAFAF0;

$text-color-alt: #646C9B;
$text-color-dark: #000;
$text-color-light: #fff;
$pink-text: #FF66C4;

$body-font-family: 'Comic Neue', cursive;
$date-font-family: 'Playfair Display', serif;
$title-font-family: 'Open Sans', sans-serif;


$tabletMinWidth: 540px;
$desktopMinWidth: 1024px;

$field-border-radius: 10px;
$agenda-border-radius: 25px;
