@import "./variables.scss";

.SectionContent {
  width: 100%;
  padding: 30px 0;

  @media (min-width: $tabletMinWidth) {
    padding: 40px 0;
  }

  @media (min-width: $desktopMinWidth) {
    padding: 80px 0;
  }
}

.Wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;

  @media (min-width: $tabletMinWidth) {
    padding: 0 50px;
  }
}

