@import "../../style/variables";

.profile_pic_container {
  text-align: center;
  // display: flex;
  // flex-direction: column;
  // text-align: center;
  // align-items: center;
}

.profile_pic_circle {
  border-radius: 50%;
  // box-shadow: 0 0 0px 10px $pink;
  margin: 20px auto;
  max-height: 250px;
  max-width: 250px;
}